<%- include('../admin/includes/adminHead') %>
<body>
    <main>
        <header class="main-header style-2 navbar">
            <div class="col-brand">
                <a href="index.html" class="brand-wrap">
                    <img src="/images/logo-new.png" class="logo" alt="Organic Life">
                </a>
            </div>
            <div class="col-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4">Forgot Password</h4>
                <div class="alert alert-danger" role="alert" id="error" style="display: none;">   </div>
    
                <div class="mb-3">
                    <input class="form-control" placeholder=" Email" type="email" name="email" id="emailForgot">
                </div> <!-- form-group// -->
                <div class="mb-4 btn-sm">
                    <button onclick="passwordResetRequest()" class="btn btn-primary  m-4 hover-up"> Submit </button>
                </div> <!-- form-group// -->
     </section>
    
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
     
function passwordResetRequest (){
    const email = document.getElementById('emailForgot').value;
    let message = document.getElementById('error');
    if(email === ""){
        message.style.display= "block";
        message.innerHTML="You must input Email ID !";
        return;
    }
   
    console.log("After validations!!");
    fetch('/passwordResetRequest', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email })
    })
    .then(async response => {
        const message = await response.text(); // Get the response text
        if (response.ok) {
            window.location.href='/otpVerificationForgotPwd'
         } else {
            message.style.display= "block";
           message.innerHTML="Invalid Email ID !";
        }
    })
    .catch(error => {
        console.error(error);
    });
}
</script>
