<%- include('header') %>
<body>
    <main>
        <header class="main-header style-2 navbar">
            <div class="col-brand">
                <a href="index.html" class="brand-wrap">
                    <img src="/images/logo-new.png" class="logo" alt="Organic Life">
                </a>
            </div>
            <div class="col-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Create an Account</h4>
                    <%  if(message.error) { %>
                        <div class="alert alert-danger" role="alert" id="errorMeaasge">
                           <%= message.error %>
                        </div>
                    <% } %>
                    <form action="/userSignupSubmit" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input class="form-control" placeholder="Your Full Name" type="text" name="name" id="fullname" oninput="validateName(this)" required>
                            <div class="alert-danger" style="display: none;" role="alert" id="nameError"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" placeholder="Your email" type="email"  name="email" id="email" oninput="validateEmail(this)" required>
                            <div class="alert-danger" style="display: none;" role="alert" id="emailError"></div>
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input class="form-control" placeholder="Phone" type="text"  name="phone" id="mobile" oninput="validatePhone(this)" required> 
                            <div class="alert-danger" style="display: none;" role="alert" id="phoneError"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Refferral Code</label>
                            <input class="form-control" placeholder="Refferal code (If any)" type="text" name="code" id="code"> 
                            <span id="phoneError" style="font-size: 14px"> </span>
                            <div class="alert-danger" style="display: none;" role="alert" id="referalError"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Create password</label>
                            <input class="form-control" placeholder="Password" type="password"  name="password" id="password" oninput="validatePassword(this)">
                            <div class="alert-danger" style="display: none;" role="alert" id="pwdError"></div>
                        </div> 
                        <div class="mb-3">
                            <label class="form-label">Confirm password</label>
                            <input class="form-control" placeholder="Password" type="password"  name="con-password" oninput="validateConfirmPassword(this)">
                            <div class="alert-danger" style="display: none;" role="alert" id="conPwdError"></div>
                        </div> 
                        <div class="mb-3">
                            <p class="small text-center text-muted">By signing up, you confirm that you’ve read and accepted our User Notice and Privacy Policy.</p>
                        </div>
                        <div class="mb-4">
                            <input type="submit" class="btn btn-primary w-100" value="Sign Up"> 
                        </div> 
                    </form>
                    <p class="text-center small text-muted mb-15">or sign up with</p>
                    <div class="d-flex gap-2 mb-4">
                        <a href="/auth/google" class="w-50 btn btn-light font-sm">
                            <svg aria-hidden="true" class="icon-svg" style="vertical-align: bottom; margin-top:-4px;" width="20" height="20" viewBox="0 0 20 20">
                                <path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z" fill="#4285F4"></path>
                                <path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z" fill="#34A853"></path>
                                <path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z" fill="#FBBC05"></path>
                                <path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z" fill="#EA4335"></path>
                            </svg> Google
                        </a>
                        
                    </div>
                    <p class="text-center mb-2">Already have an account? <a href="/">Sign in now</a></p>
                </div>
            </div>
        </section>
        <footer class="main-footer text-center">
            <p class="font-xs">
                <script>
                document.write(new Date().getFullYear())
                </script> ©, Organic Life - Live Healthy .
            </p>
            <p class="font-xs mb-30">All rights reserved</p>
        </footer>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
    <script>
        const nameError= document.getElementById('nameError');
        const emailError= document.getElementById('emailError');
        const pwdError= document.getElementById('pwdError');
        const conPwdError= document.getElementById('conPwdError');
        const phoneError = document.getElementById('phoneError');

        function validateName(input) {
            const value = input.value.trim();
            if (value === "" || !/^[a-zA-Z/s.]/.test(value)|| (value.length <3 || value.length > 14) ) {
                input.setCustomValidity("Name Invalid.");
                nameError.style.display="block";
                nameError.innerHTML="Name validation error";
            } else {
                input.setCustomValidity("");
                showErrorMessage(input, "");
            }
        }  
        function validateEmail(input) {
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            const value =input.value.trim();
            if (value === "" || !emailPattern.test(value)) {
                input.setCustomValidity("Please enter a valid email address.");
                emailError.style.display="block";
                emailError.innerHTML="Email validation error";
            } else {
                input.setCustomValidity("");
                showErrorMessage(input, "");
            }
        } 
        function validatePhone(input) {
            const phonePattern = /^[7-9][0-9]{9}$/;
            const value = input.value.trim();
            if (!phonePattern.test(value) || value==="") {
                input.setCustomValidity("Please enter a valid 10-digit phone number.");
                phoneError.style.display="block";
                phoneError.innerHTML="Phone Number validation error";
            } else {
                input.setCustomValidity("");
                showErrorMessage(input, "");
            }
        }
        // function validatePassword(input) {
        //     const exp = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        //     const value = input.value.trim();
        //     if (value.length < 8 || value.length > 20 || !exp.test(value) || value ==="") {
        //         input.setCustomValidity("Password must be between 8 and 20 characters.");
        //         pwdError.style.display="block";
        //         pwd.innerHTML="Password validation error";
        //     }else {
        //         input.setCustomValidity("");
        //         showErrorMessage(input, "");
        //     }
        // }
        function validatePassword(input) {
    const exp = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    const value = input.value.trim();

    if (value.length < 8 || value.length > 20 || !exp.test(value) || value === "") {
        input.setCustomValidity("Password must be 8-20 characters, include uppercase, lowercase, number and special character.");
        pwdError.style.display = "block";
        pwdError.innerHTML = "Password validation error";
    } else {
        input.setCustomValidity("");
        pwdError.style.display = "none";
        pwdError.innerHTML = "";
    }
}

        function validateConfirmPassword(input) {
            const password = document.getElementById('password').value.trim();
            const value = input.value.trim();
            console.log("values::",password,value);
            if (value !== password) {
                input.setCustomValidity("Passwords do not match.");
                conPwdError.style.display="block";
                conPwdError.innerHTML="Incorrect password !";
            } else {
                input.setCustomValidity("");
                showErrorMessage(input, "");
            }
        }
        function showErrorMessage(input, message) {
            const messageDiv = input.nextElementSibling;
            messageDiv.textContent = message;
            messageDiv.style.display = message ? 'block' : 'none';
        }
  </script>
 </body>
</html>